$basic-border: 3px solid black;
$hover-border: 3px groove $color-titulos;
$border-image: 3px solid rgb(223, 51, 200);
$estilobasico-bordes-letras: 0.8px black;
$border-letter-white: .5 white;
$hover-bordes-letras: 0.1px brown;